<template>
  <div></div>
</template>

<script>
export default {
  data() {
    return {
      token: this.$route.params.token,
    }
  },
  methods: {
    async validateRegistrationToken() {
      let res = await this.$axios.post('/api/auth/validate/registration', {
        verification_code: this.token,
      })
      this.$router.push('/')
    },
  },
  created() {
    this.validateRegistrationToken()
  },
}
</script>

<style lang="scss" scoped></style>
