<template>
  <luma-discussions-page
    :title="title"
    :breadcrumb="breadcrumb"
    :container-class="containerClass"
    :item="petItem"
  />
</template>

<script>
import Page from '~/components/Page'
import { LumaDiscussionsPage } from 'vue-luma'

export default {
  components: {
    LumaDiscussionsPage,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: 'Lost Pet',
    }
  },
  data() {
    return {
      title: 'Lost Pet',
      // petUUID: this.$route.params.uuid,
      petUUID: this.$route.params.uuid,
      petItem: {},
    }
  },
  methods: {
    async getPetDetails() {
      try {
        let res = await this.$axios.get('/api/pet/' + this.petUUID)
        if (!res.data?.data) return
        this.petItem = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
  },
  created() {
    this.getPetDetails()
  },
  computed: {},
}
</script>
