<template>
  <luma-student-courses-page
    :title="title"
    :breadcrumb="breadcrumb"
    :container-class="containerClass"
    :results-heading-sidebar-toggle="resultsHeadingSidebarToggle"
    :petItems="petItems"
    :is-loading="isLoading"
    :meta="meta"
    :header="title"
  />
</template>

<script>
import Page from '~/components/Page'
import { LumaStudentCoursesPage, LibraryDrawer, LibrarySidebar } from 'vue-luma'
import qs from 'qs'

export default {
  components: {
    LumaStudentCoursesPage,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: 'Found Pets',
    }
  },
  data() {
    return {
      title: 'Found Pets',
      petItems: [],
      meta: {},
      isLoading: {
        petItems: true,
      },
    }
  },
  methods: {
    async getFoundPets() {
      try {
        this.isLoading.petItems = true
        let res = await this.$axios.get('/api/pet', {
          params: {
            rows_per_page: 16,
            page: this.meta.current_page ? this.meta.current_page : 1,
            status: 2,
            filter: {
              animal_types: this.$store.state.filter.animal_types,
              breed: this.$store.state.filter.breed,
              colors: this.$store.state.filter.color_types,
              coat_types: this.$store.state.filter.coat_types,
              ages: this.$store.state.filter.ages,
            },
          },
          paramsSerializer: function (params) {
            return qs.stringify(params, {
              arrayFormat: 'brackets',
              encode: false,
              indices: false,
            })
          },
        })
        if (!res.data?.data) return
        this.petItems = res.data?.data
        this.meta = res.data?.meta
      } catch (error) {
        console.log(error)
      }

      this.isLoading.petItems = false
    },
  },
  computed: {
    guest() {
      return true
    },
    subLayout() {
      return this.$root.layoutName === 'fixed'
    },
    subLayoutDrawer() {
      return LibrarySidebar
    },
    subLayoutDrawerId() {
      return 'library-drawer'
    },
    resultsHeadingSidebarToggle() {
      return 'mobile'
    },
  },
  watch: {
    '$store.state.filter': {
      handler: function (newValue, oldValue) {
        this.getFoundPets()
      },
      deep: true,
    },
    'meta.current_page': {
      handler: function (newValue, oldValue) {
        this.getFoundPets()
      },
    },
  },
  beforeMount() {
    this.getFoundPets()
  },
}
</script>
