<template>
  <luma-lost
    :title="title"
    :breadcrumb="breadcrumb"
    :container-class="containerClass"
  />
</template>

<script>
import Page from '~/components/Page'
import { LumaLost } from 'vue-luma'

export default {
  components: {
    LumaLost,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: app.i18n.t('Create Lost Pet'),
    }
  },
  data() {
    return {
      title: this.$t('Create Lost Pet'),
      uuid: this.$route.params.uuid,
      myRegisteredPetItems: [],
      myLostPetItems: [],
      myFoundPetItems: [],
      myUploadedMissingPetItems: [],
      STATUS_LOST: 1,
      STATUS_FOUND: 2,
      STATUS_REGISTERED: 3,
    }
  },
  methods: {
    // async getMyUser() {
    //   try {
    //     let res = await this.$axios.get('/api/user/me')
    //     if (!res.data?.data) return
    //     let user = res.data.data
    //     this.$store.dispatch('updateUser', user)
    //   } catch (error) {
    //     console.log(error)
    //   }
    // },
    // async getMyRegisteredPet() {
    //   try {
    //     let res = await this.$axios.get('/api/user/pet', {
    //       params: {
    //         rows_per_page: 16,
    //         status: this.STATUS_REGISTERED,
    //       },
    //     })
    //     if (!res.data?.data) return
    //     this.myRegisteredPetItems = res.data?.data
    //   } catch (error) {
    //     console.log(error)
    //   }
    // },
    // async getMyLostPet() {
    //   try {
    //     let res = await this.$axios.get('/api/user/pet/' + this.uuid)
    //     if (!res.data?.data) return
    //     this.myLostPetItems = res.data?.data
    //   } catch (error) {
    //     this.$router.push('/my-pets')
    //   }
    // },
  },
  mounted() {
    // this.getMyUser()
    if (this.uuid !== 'create') {
      this.title = 'Update Lost Pet'
      // this.getMyLostPet()
    }
    // this.getMyRegisteredPet()
    // this.getMyLostPets()
    // this.getMyFoundPets()
  },
}
</script>
