<template>
  <luma-change-password-page :title="title" />
</template>

<script>
import Page from '~/components/Page'
import { LumaChangePasswordPage } from 'vue-luma'

export default {
  components: {
    LumaChangePasswordPage,
  },
  extends: Page,
  layout: 'blank',
  async asyncData() {
    return {
      title: 'Password Reset',
    }
  },
  data() {
    return {
      title: 'Password Reset',
    }
  },
  created() {},
}
</script>
