<template>
  <luma-home-page
    :title="title"
    :container-class="containerClass"
    :local-page-header="localPageHeader"
    :lost-cat-items="lostCatItems"
    :lost-dog-items="lostDogItems"
    :lost-pet-items="lostPetItems"
    :pet-count-items="petCountItems"
    :unidentified-pet-items="unidentifiedPetItems"
    :is-loading="isLoading"
  />
</template>

<script>
import Page from '~/components/Page'
import { LumaHomePage } from 'vue-luma'

export default {
  components: {
    LumaHomePage,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: app.i18n.t('Home'),
    }
  },
  data() {
    return {
      ANIMAL_TYPE_DOG: 1,
      ANIMAL_TYPE_CAT: 2,
      title: this.$t('Home'),
      lostDogItems: [],
      lostCatItems: [],
      unidentifiedPetItems: [],
      petCountItems: {},
      lostPetItems: [],
      isLoading: {
        lostPetItems: true,
      },
    }
  },
  methods: {
    async getPetCount() {
      try {
        let res = await this.$axios.get('/api/lookup/pet-count')
        if (!res.data?.data) return
        this.petCountItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
    async getLostPets() {
      try {
        this.isLoading.lostPetItems = true
        let res = await this.$axios.get('/api/pet', {
          params: {
            rows_per_page: 12,
          },
        })
        if (!res.data?.data) return
        this.lostPetItems = res.data?.data
      } catch (error) {
        console.log(error)
      }

      this.isLoading.lostPetItems = false
    },
    async getLostCats() {
      try {
        let res = await this.$axios.get('/api/pet', {
          params: {
            rows_per_page: 12,
            animal_type_id: this.ANIMAL_TYPE_CAT,
          },
        })
        if (!res.data?.data) return
        this.lostCatItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
    async getUnidentifiedImages() {
      try {
        let res = await this.$axios.get('/api/pet', {
          params: {
            rows_per_page: 16,
          },
        })
        if (!res.data?.data) return
        this.unidentifiedPetItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
  },
  computed: {
    localPageHeader() {
      return this.$root.layoutName !== 'fixed'
    },
    headerClass() {
      if (this.$root.layoutName === 'fixed') {
        return 'mdk-header--bg-dark bg-dark mb-0'
      }
      return ''
    },
    headerCondenses() {
      return this.$root.layoutName === 'fixed'
    },
  },
  beforeMount() {
    this.getLostPets()
    this.getPetCount()
  },
}
</script>
