<template>
  <luma-login-page :title="title" />
</template>

<script>
import Page from '~/components/Page'
import { LumaLoginPage } from 'vue-luma'

export default {
  components: {
    LumaLoginPage,
  },
  extends: Page,
  layout: 'blank',
  async asyncData() {
    return {
      title: 'Login',
    }
  },
  data() {
    return {
      title: 'Login',
    }
  },
  created() {
    if (this.$store.getters.userToken)
      this.$router.push(this.routeTo(this.routes.home))
  },
}
</script>
