<template>
  <luma-my-account :title="title" :container-class="containerClass" />
</template>

<script>
import Page from '~/components/Page'
import { LumaMyAccount } from 'vue-luma'

export default {
  components: {
    LumaMyAccount,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: app.i18n.t('My Account'),
    }
  },
  data() {
    return {
      title: this.$t('My Account'),
    }
  },
  computed: {
    headerClass() {
      return 'mb-0'
    },
  },
}
</script>
