<template>
  <luma-register
    :title="title"
    :breadcrumb="breadcrumb"
    :container-class="containerClass"
    :my-registered-pets="myRegisteredPetItems"
    :my-lost-pets="myLostPetItems"
    :my-found-pets="myFoundPetItems"
    :my-uploaded-missing-pets="myUploadedMissingPetItems"
  />
</template>

<script>
import Page from '~/components/Page'
import { LumaRegister } from 'vue-luma'

export default {
  components: {
    LumaRegister,
  },
  extends: Page,
  async asyncData({ app }) {
    return {
      title: app.i18n.t('My Pets Dashboard'),
    }
  },
  data() {
    return {
      title: this.$t('My Pets Dashboard'),
      myRegisteredPetItems: [],
      myLostPetItems: [],
      myFoundPetItems: [],
      myUploadedMissingPetItems: [],
      STATUS_LOST: 1,
      STATUS_FOUND: 2,
      STATUS_REGISTERED: 3,
    }
  },
  methods: {
    async getMyUser() {
      try {
        let res = await this.$axios.get('/api/user/me')
        if (!res.data?.data) return
        let user = res.data.data
        this.$store.dispatch('updateUser', user)
      } catch (error) {
        console.log(error)
      }
    },
    async getMyRegisteredPet() {
      try {
        let res = await this.$axios.get('/api/user/pet', {
          params: {
            rows_per_page: 16,
            status: this.STATUS_REGISTERED,
          },
        })
        if (!res.data?.data) return
        this.myRegisteredPetItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
    async getMyLostPets() {
      try {
        let res = await this.$axios.get('/api/user/pet', {
          params: {
            rows_per_page: 16,
            status: this.STATUS_LOST,
          },
        })
        if (!res.data?.data) return
        this.myLostPetItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },
    async getMyFoundPets() {
      try {
        let res = await this.$axios.get('/api/user/pet', {
          params: {
            rows_per_page: 16,
            status: this.STATUS_FOUND,
          },
        })
        if (!res.data?.data) return
        this.myFoundPetItems = res.data?.data
      } catch (error) {
        console.log(error)
      }
    },

    async getMyUploadedMissingPets() {
      try {
      } catch (error) {}
    },
  },
  mounted() {
    this.getMyUser()
    this.getMyRegisteredPet()
    this.getMyLostPets()
    this.getMyFoundPets()
  },
}
</script>
